.App-header {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.boardSelector {
  grid-column: 1;
  grid-row: 1;
}

.HeaderOfNewBoard {
  grid-column: 3;
  grid-row: 1;
}

.boardList {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  background-color: white;
}

.CreateNewBoard {
  grid-column: 3;
  grid-row: 2 / span 2;
}

.CardsForSectedBoard {
  grid-column: 1;
  grid-row: 3;
}

.CreateNewCard {
  grid-column: 2;
  grid-row: 3;
}
/*



 */
