form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: border-box;
}

label {
    font-size: calc(4px + 1vmin);
    display: block;

}

input {
    border-radius: 5px;
    min-width: 33vw;
    min-height: fit-content;
    height: 4vh;
    margin: 5px 0px;
    
}

.entry {
    margin: 1px 0px 8px;
}

#submit {
    min-height:calc(10px + 2.5vmin);
    background-color: #f26350;
    border-color: #f29979;
    color: white;
}

#slink {
    color: #f29979;
}

#slink :visited {
    color: #c1d6d9;
}

.error {
    font-size: calc(8px + 1vmin);
    font-weight: 700;
    display: block;
}