.app-all {
  display: grid;
  grid-template-areas:
      "header header"
      "nav main"
      "aside main";
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 40% 20%;
  grid-gap: 10px;
  height:160vh;
  width: 100vh;
  margin: auto;
}

header {
grid-area: header;
background-color: pink;
}

main {
grid-area: main;
background-color: blue;
}

.board {
grid-area: nav;
background-color: green;
}

aside {
  grid-area: aside;
  background-color: #70be51;
  outline: 1px solid black;
  }


header, main, nav, aside{
  padding: 10px; 
}

h2 {
  text-align: center;
}





/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
