.titleslist {
    background: #9b45b2;
    padding: 1px; 
}

li  {
    background: white;
    color: black;
    font-style:normal;
    margin: 5px;
    list-style-position: inside;
    list-style-type: none; 
    font-family: Verdana, sans-serif;
    font-size: medium;
    outline: #9b45b2;
    border-radius: 10px;
    padding: 5px; 
    width: 160px;
    height: 30px;
}

.titles {
    display: grid;
    grid-template-columns: 80% 20%;
    background: white;
    color: black;
    font-style:normal;
    margin: 5px;
    list-style-position: inside;
    list-style-type: none; 
    font-family: Verdana, sans-serif;
    font-size: medium;
    outline: #9b45b2;
    border-radius: 25px;
}

.deleteBoard {
    background: white;
    display: inline-block;
    justify-content: right;
    background: white;
    color: black;
    font-style:normal;
    margin: 5px;
    list-style-position: inside;
    list-style-type: none; 
    font-family: Verdana, sans-serif;
    font-size: medium;
    outline: #9b45b2;
    border-radius: 10px;
}

.deletebutton {
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 20px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 1em;
   position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    
}

.deletebutton:hover {
    align-items: center;
    background-color: bisque ;
    /* border: 2px solid #111; */
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 20px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 1em;
   position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
}
