.card-items__container {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.card-item {
    align-items: center;
    background-color:  #f0a3bc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    padding: 1rem;
    outline: 1px solid black;
}