/* .card-item {
    align-items: center;
    background-color: #eb6b40;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 20px;
    justify-content: center;
    min-height: 200px;
    padding: 2rem;
} */