/* .card-item {
    align-items: center;
    background-color: #fff8a5;
    box-shadow: -10px 7px 7px #d3d3d3;
    display: flex;
    flex-direction: column;
    font-family: Homemade Apple,cursive;
    font-family: Concert One,cursive;
    justify-content: center;
    min-height: 200px;
    padding: 2rem;
} */