#card-preview {
  display: flex;
  max-width: 15vw;
  height: 15vw;
  background-color: #C1D6D9;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #014040;
  box-shadow:  3px 3px 5px #014040;
  margin: auto;
}

#new-card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-card-text {
  max-width: 20vw;
  height: 4vh;
  border-color: #014040;
  border-radius: 20px;
  color: #014040;
  margin-top: 3.5vh;
  text-align: center;
  font-family: 'Arial';
  padding: 4vh 1vw;
}

#new-card-submit {
  color: #014040;
  width: 6vw;
  margin-top: 2vh;
  border: solid 1.5px #014040;
  border-radius: 5px;
  font-size: 1rem;
}


