.board {
  border-style: dotted;
  width: 200px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 30px;
}

.activeBoard {
  color: magenta;
}

.board .boardTitle {
  font-size: 24px;
}

.board .boardOwner {
  font-size: 16px;
}
