/* IDs */
.board-name-text {
    display: inline;
    padding-left: 10px;
}

.board-item {
    border: 1px solid white;
}

.board-item--selected {
    border: 1px solid white;
    background-color:azure;
}

/* tags */
button {
    border: None;
    width: 25px;
    height: 25px;
    background-color: rgb(201, 201, 201);
}