.menu-item {
  width: 67vw;
  padding: none;
  margin: 0px;
  align-self:stretch;
  clear: left;
  min-height: 7vh;
}

.pink {
  border: none;
  background-color: inherit;
  text-align: center;
  text-decoration: underline;
  display: block;
}

.white {
  background-color: whitesmoke;
  border: none;
  text-align: center;
  text-decoration: underline;
  display: block;
}