*,
*::before,
*::after {
    box-sizing: border-box;
}

#board-select {
    appearance: none;
    background-color: transparent;
    border: none;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    text-transform: uppercase;
    color: #999999;
    /* color: #ffe8e8; */
    text-align: center;
    letter-spacing: 0.6px;
}

#board-select:focus {
    outline: none;
}

#board-select:hover {
    box-shadow: 0px 20px 60px rgb(238, 234, 234);
}

.select {
    /* width: 70%; */
    width: 11em;
    min-width: 15ch;
    max-width: 30ch;
    /* border: 1px solid var(--select-border); */
    border-radius: 5px;
    /* border: 1px solid #FFF; */
    padding: 0.5em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    /* background-image: linear-gradient(to top, #92bdec, rgb(228, 243, 254) 40%); */
    /* background-image: linear-gradient(to top, rgb(112, 145, 196, .8), rgb(228, 243, 254) 50%); */
    background-image: linear-gradient(to top, rgba(235, 140, 140, 50%), rgb(228, 243, 254) 60%);
    /* background-image: linear-gradient(to top, #ef8e8e, rgb(228, 243, 254) 50%); */
    /* background-color: rgba(235, 140, 140, 75%); */
    font-family: 'Roboto Condensed';
    font-size: 1rem;

}