.menu-item {
  width: 67vw;
  padding: none;
  margin: 0px;
  align-self:stretch;
  clear: left;
  min-height: 7vh;
  color: #014040;
  border: none;
  text-align: center;
  display: block;
  /* text-decoration: underline; */
}

.pink {
  background-color: inherit;
}

.white {
  background-color: whitesmoke;
}

#cardCount {
  font-size: smaller;
  font-style: italic;
}