.each_board {
    font-weight: bolder;
    font-size: x-large;
    list-style-type: '🌟';
}

.each_board:hover {
    font-weight: bolder;
    font-size: x-large;
    list-style-type: none;
    color: orangered;
}