.card {
border: 2px solid black;
margin-top: 25px;
align-self: center;
height: 80%;
width: 80%;
margin: 1rem auto;
}

button {
  background: none;
  padding: 10px;
  cursor: pointer;
  border: none;
}