.card {
  display: flexbox;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  height: 80%;
  width: 80%;
  margin: 1rem auto auto;
}

button {
  background: none;
  padding: 10px;
  cursor: pointer;
  border: none;
}