.card-form-invisible {
  box-sizing: border-box;
  border: 3px solid grey;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  cursor: pointer;
}

.card-form-invisible::after {
  content: "+";
  font-size: 5rem;
  color: grey;
  position: relative;
  left: 65px;
  top: 35px;
}

#new-card-close {
  position: relative;
  left: 170px;
  cursor: pointer;
}

form {
  box-sizing: border-box;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
}
