div#CardForm {
  text-align: left;
}

div.error {
  font-size: 130%;
  color: red;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

body {
    margin: 20px auto;
    font-family: 'Lato';
    background:#666;
    color:#fff;
  }
  *{
    margin:0;
    padding:0;
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    font-weight: normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
  }
  ul li{
    margin:1em;
  }

/* #MESSAGE */
.borderexample {
 border-width:3px;
 border-style:solid;
 border-color:#0e0f10;
}


/* /* #MESSAGE  */
.borderexample {
 border-width:4px;
 border-style:solid;
 border-color:#1f2121;
}


/* BOX SHAWDOWs
box-shadow: none;

/* offset-x | offset-y | color */
box-shadow: 60px -16px teal;

/* offset-x | offset-y | blur-radius | color */
box-shadow: 10px 5px 5px white;

/* offset-x | offset-y | blur-radius | spread-radius | color */
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

/* inset | offset-x | offset-y | color */
box-shadow: inset 5em 1em gold;

/* Any number of shadows, separated by commas */
box-shadow: 3px 3px black, -1em 0 0.4em olive;

/* Global values */
box-shadow: inherit;
box-shadow: initial;
box-shadow: revert;
box-shadow: revert-layer;
box-shadow: unset; 