.card-form-invisible {
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #BA7A51;
  /* border: 3px solid #FFF282; */
  /* background-color: none; */
}

.card-form-invisible::after {
  content: "+";
  font-size: 8rem;
  position: relative;
  top: 7px;
  color: #735B48;
  /* color: #FFF282; */
}

#new-card-close {
  position: relative;
  left: 170px;
  cursor: pointer;
}

add-card {
  box-sizing: border-box;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  padding: 0.5rem;
}
