.each_card {
    background-color: black;
    font-size: medium;
    text-align: center;
    color: white;
    padding: 2pt;
    margin: 10pt;
}

.card_info {
    list-style-type: none;
    padding-right: 25pt;
    font-size:x-small;
}

.message {
    font-family:fantasy;
    font-size: xx-large;
    font-weight: bolder;
}

.like {
    font-size: large
}

.like:hover, .delete:hover {
    color: orangered;
}