form.board input {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  background: none;
  border: none;
  outline: none;
}

form.board input.boardTitle {
  font-size: 24px;
  box-sizing: border-box;
  width: 100%;
}

form.board input.boardOwner {
  font-size: 16px;
  width: min-content;
}

form.board {
  position: relative;
}

form.board input[type="submit"] {
  font-size: 16pt;
  display: none;
}
form.board:focus-within input[type="submit"] {
  display: block;
}

form.board input[type="submit"] {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: none;
}
