form.card textarea.cardMessage {
  font: 20pt "Permanent Marker", cursive;
  background: none;
  border: none;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  resize: none;
  word-break: break-word;
}

form.card textarea.cardMessage:focus-visible {
  border: none;
  outline: none;
}

form.card input[type="submit"] {
  display: none;
  font-size: 16pt;
  border: none;
  padding: 0.5em;
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  opacity: 40%;
}

form.card input[type="submit"]:hover {
  opacity: 100%;
}

form.card {
  opacity: 60%;
}

form.card:focus-within {
  opacity: 100%;
}

form.card:focus-within input[type="submit"] {
  display: block;
}
