.card textarea.cardMessage {
  font: 20pt "Permanent Marker", cursive;
  background: none;
  border: none;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  resize: none;
  word-break: break-word;
}

.card input[type="submit"] {
  background: none;
  box-sizing: border-box;
  float: right;
}

form.card {
  opacity: 60%;
}

form.card:focus-within {
  opacity: 100%;
}
