.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2.5rem;
  border-bottom: 1.7px solid #FFF;
  width: 100%;
  position: fixed;
  top: 0;
  /* background-color: rgb(112, 145, 196, .8); */
  background-color: rgba(235, 140, 140, .65);
  z-index: 1;
}

html:not([data-scroll='0']) .header {
  position: fixed;
  top: 0;
  background-color: rgba(235, 140, 140);
  /* To see solid opaque option (not blurry) comment out the 
  below lines (lines 21-23) */
  background-color: rgba(235, 140, 140, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.header > select {
  width: 6rem;
}

.header > button {
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: none;
  border: 3px solid #FFF;
  color: #FFF;
  margin-left: 8rem;
}

h1 {
  /* font-family: 'Zen Kurenaido', sans-serif; */
  font-family: 'Readex Pro', sans-serif;
  /* font-family: 'Cantarell', sans-serif; */
  font-weight: 100;
  font-size: 3.3rem;
  color: #FFF;
}
