.new-board__section {
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1.5rem;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
   

}

#add-board {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0;
}

#line {
    width: 20rem;
    height: 0;
    border: 1px solid black;
    margin-top: .1rem;
    margin-bottom: .5rem;
    display:inline-block;
}

.new-board__fields {
    width: 20rem;
    background-color: rgb(249,247,241, .3);
    border-radius: .4rem;
    padding: .25rem;
}

input {
    display: block;

}

label, input {
    line-height: 1rem;
}

.new-board__button {
    margin-top: .45rem;
    display: block;
    cursor: pointer;
}

.visible{
    visibility:visible ;
}

.collapse{
    visibility: collapse;
}