.invalid-form-input {
    border: red solid 1px;
    box-shadow: 0 0 1px red;
}

.card__form {
    background-color:yellow;
    border-style: solid;
    border-radius: 5pt ;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

.form__header {
    background-color:fuchsia;
    font-size: large;
    color: white;
}

.card__submit__button {
    background-color:lime;
    font-size: x-small;
}

.new-card__field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    row-gap: 2px; 
}