.new-card__field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    row-gap: 20px;
}

.new-card__field label {
    font-weight: bolder;
    font-size: 1.2em;
}

.new-card__submit {
    grid-column: span 2;
}

.invalid-form-input {
    border: red solid 1px;
    box-shadow: 0 0 1px red;
}