.selected_header {
    border: 2px solid #000;
    box-shadow: -15px 7px 1px teal;
    padding: 0.8em 1em;
    font-size: 24px;
    font-weight: bold;
    width: 200px;
    height: 40px;
    text-align: center;
}

.selected-board {
  margin-right: 70px;
}