* {
  background-color: rgb(255, 193, 79);
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: aliceblue;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Boards-Area {
  display: flex; /* or inline-flex */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-color: tomato;
  border-width: 1rem;
  border-style: solid;
}

.BoardList-box {
  color: aliceblue;
  margin: 2rem;
}

.BoardTitles {
  color: rgb(103, 45, 82);
  font-size: 1.5rem;
  padding: 0.2em;
}

.CardsInfo {
  background-color: aliceblue;
}

.BoardTitles:hover {
  color: aliceblue;
}

.SelectedBoard {
  font-size: calc(8px + 3vmin);
  color: tomato;
  text-align: left;
  padding: 2rem;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Delete-Button {
  font-size: calc(4px + 2vmin);
  align-items: center;
  align-self: center;
  color: rgb(255, 27, 27);
  background-color: rgb(255, 189, 139);
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
