@import url("https://fonts.googleapis.com/css2?family=Gaegu&family=Montserrat&display=swap");

@font-face {
  font-family: "GlossySheenRegular";
  src: local("GlossySheenRegular"),
    url("./Fonts/GlossySheenRegular-L35oy.ttf") format("truetype");
  font-weight: normal;
}

* {
  background-color: #cadefc;
}

#App-header {
  font-size: calc(10px + 4vmin);
  color: rgb(144, 92, 159);
  text-align: center;
  font-family: "GlossySheenRegular";
  letter-spacing: 0.2rem;
}

.Boards-Area {
  display: flex; /* or inline-flex */
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem;
  padding: 1rem;
  font-size: 1rem;
  border-color: #cca8e9;
  border-width: 1rem;
  border-style: dashed;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.BoardTitles {
  color: rgb(144, 92, 159);
  font-size: 1.5rem;
  padding: 0.2em;
  font-family: "Montserrat", sans-serif;
}

.BoardTitles:hover {
  color: #cca8e9;
}

.SelectedBoard {
  font-size: calc(8px + 3vmin);
  color: rgb(144, 92, 159);
  text-align: left;
  padding: 2rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.Delete-Button {
  border-radius: 10px;
  font-size: calc(2.5px + 1.5vmin);
  align-items: center;
  align-self: center;
  color: #2f82fe;
  background-color: #c3bef0;
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
