* {
  background-color: rgb(255, 193, 79);
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: aliceblue;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.BoardHeading {
  color:aliceblue
}

.BoardTitles {
  color:rgb(103, 45, 82)
} 

.BoardTitles:hover {
  color: aliceblue;
}