html{
  color:#07274A;
  background-image: url("https://direct.limitlesswalls.com/cdn-cgi/image/quality=60/http://llw-magento-images-prod.s3.amazonaws.com/catalog/product/w/m/wm118397425.jpg");
  background-size: cover;

}

h1{
  font-family: fantasy;
  text-align: center;
}

.boardDisplay{
  font-weight: bold;
  font-size: 1.5em;
}

.highlightRed {
  border: 2px solid red;
  width: 300px
}

.OK {
  width: 300px
}

.aCard {
  background-color: #CDDCF7 ;
  width: 175px;
  height: 175px;
  text-align: center;
  padding: 1em;
  margin: 1em;
  box-shadow: 2px 2px 2px 1px #07274A;
  font-family: fantasy;
  color: #07274A;
}

.boardScroll{
  height: 100px;
  overflow-y:scroll;
  border: 2px solid #07274A;
  list-style-type: none;
  padding: 5px;
}

.boardTitle:hover{
  background-color: #07274A;
  color: white;
}

button{
  margin: 1em;
}

.cardMessage{
  font-weight: bold;
}

.cardList{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row1, .row2 {
  display: flex;
  align-items:flex-start;
  padding-bottom: 50px;
}

.column {
  display: block;
  flex-basis: fit-content;
  flex-grow: 5;
  flex-shrink: 5;
  padding: 20px;
  margin-left: 2em;
  margin-right: 2em;
  font-family: fantasy;
}

