
.card-items__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin: 2rem;
    border: 1px solid black;
    flex-direction: row;
}

.one__card {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    grid-template-columns: 3fr 3fr 1fr;

}

